@import url('reset.css');
.custom-header{
    padding:1rem;
    background-color:teal;
    color:white;
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap;
   position: relative;
}
.logo>img{
    width:50px;
}
img.white-mono{
    filter: saturate(0) brightness(100);
}
.custom-header nav ul:not(.dropdown-menu.logged-in){
    list-style: none;
    display:flex;
}
.navs{
    display: flex;
}

ul.dropdown-menu.logged-in.show {
    background: var(--header-bg-color);
}
.custom-header nav ul:not(.dropdown-menu.logged-in) a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
    display: inline-block;
    padding:1rem 1.3rem;
}
.custom-header nav ul:not(.dropdown-menu.logged-in) a:hover{
  background:hsla(0, 0%, 100%, .3);
}

.custom-header .mobile-icon{
    display:none;
    transition:all .3s ease-in;
}

@media screen and (max-width:800px) {
    .mobile-icon{
        display: block !important;
        font-size:2rem;
    }
    .main-nav ul, .auth-nav ul:not(.dropdown-menu.logged-in){
        display: block !important;
       
    }
    .navs{
        display:block;
        position:absolute;
        background-color: teal;
        width: 80%;
        max-width:250px;
        top:100%;
        left:-100%;
        height: 100vh;
        transition: all 1s ease;
    }
    .navs.open{
        left:0
    }
}