:root{
    --primary-color:#00d48a;
    --dark1:#3f3f3f;
    --dark2:#8b8b8b;
    --dark3:#232323;
    --light:#fff;
    --secondary-color:#da3001;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--dark3);
    color:var(--light);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
